<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us – Saranalayam</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="contact-box">
    <h2>Contact Us</h2>

   <p>📞 <strong>Phone:</strong><br>
        0471-3567890<br>
        9000012345
    </p>

    <p>✉ <strong>Email:</strong><br>
        info@saranalayamcare.in
    </p>

    <a href="/">
        ← Back to Home
    </a>
</div>

</body>
</html>


