<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donation Details</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="donation-container">
        <h2>Donation – Step 2</h2>

        <form action="/donate-step-2" method="POST">
            <label>Amount (INR)</label>
            <input type="number" name="amount" placeholder="Enter amount" required min="1">

            <label>Purpose</label>
            <input type="text" name="purpose" placeholder="Purpose of donation" required>

            <label>Payment Method</label>
            <select name="payment_method" required>
                <option value="Razorpay">Razorpay</option>
                <option value="UPI">UPI</option>
                <option value="Netbanking">Netbanking</option>
                <option value="Card">Credit/Debit Card</option>
            </select>

            <button type="submit" class="donation-next-btn">Donate Now</button>
        </form>

        <div class="back-dashboard-container">
            <a href="/user-dashboard" class="back-dashboard-btn">
                ← Back to Dashboard
            </a>
        </div>
    </div>
</body>
</html>
