<!DOCTYPE html>
<html>
<head>
    <title>Complete Donation</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>

<body>

<div class="donation-container">

    <div class="donation-steps">
        <span>01. Personal Information</span>
        <span class="active">02. Payment</span>
    </div>

    <h2>Complete Your Donation</h2>

    <div class="donation-summary">
        <p><strong>Amount:</strong> ₹{{ amount // 100 }}</p>
        <p>Click below to proceed securely with Razorpay.</p>
    </div>

    <button 
        id="pay-btn" 
        class="donation-next-btn"
        data-amount="{{ amount }}"
        data-order="{{ order_id }}"
        data-key="{{ key_id }}"
    >
    Pay ₹{{ amount // 100 }} Securely
    </button>


    <p class="donation-note">
        🔒 100% Secure Payment | Powered by Razorpay
    </p>
    <div class="back-dashboard-container">
        <a href="/user-dashboard" class="back-dashboard-btn">
            ← Back to Dashboard
        </a>
    </div>

</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
document.getElementById("pay-btn").addEventListener("click", function () {

    const button = this;

    const amount = button.dataset.amount;
    const orderId = button.dataset.order;
    const key = button.dataset.key;

    var options = {
        key: key,
        amount: amount,
        currency: "INR",
        name: "Saranalayam",
        description: "Donation",
        order_id: orderId,

        handler: function (response) {
            var form = document.createElement("form");
            form.method = "POST";
            form.action = "/payment-success";

            var fields = {
                razorpay_payment_id: response.razorpay_payment_id,
                razorpay_order_id: response.razorpay_order_id,
                razorpay_signature: response.razorpay_signature
            };

            for (var key in fields) {
                var input = document.createElement("input");
                input.type = "hidden";
                input.name = key;
                input.value = fields[key];
                form.appendChild(input);
            }

            document.body.appendChild(form);
            form.submit();
        },

        modal: {
            ondismiss: function () {
                window.location.href = "/user-dashboard";
            }
        }
    };

    var rzp = new Razorpay(options);
    rzp.open();
});
</script>


</body>
</html>
