<!DOCTYPE html>
<html>
<head>
    <title>Daily Records</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h2>Update Daily Records</h2>

<form method="post">
    <input name="inmates" placeholder="Total Inmates"
           value="{{ record['total_inmates'] if record else '' }}" required>

    <input name="hospitalized" placeholder="Hospitalized"
           value="{{ record['hospitalized'] if record else '' }}" required>

    <input name="staff" placeholder="Staff Count"
           value="{{ record['staff_count'] if record else '' }}" required>

    <button>Save / Update</button>
</form>

<a href="/dashboard">← Back to Dashboard</a>


</body>
</html>

